In [1]:
import pandas as pd
import os
from get_repo_name import get_repo_name

repo_name = get_repo_name ( os.path.basename ( os.getcwd() ) )
dataset_path = f'datasets/{repo_name}_modfiles.csv'
df = pd.read_csv (dataset_path)
df.head()

,commit_hash,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,f57407db93b2bbcf15b59af10e6f689ca8443372,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 15:31:43+08:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,2,0,NaN,NaN,NaN
1,80eb8ea2e4462e7c0f83b071545e9b01bcf0e63c,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 17:47:17+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,2,0,NaN,NaN,NaN
2,87de776ac2c22174cbb3a554e89a0ff2a1fadcc5,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:08:38+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,0,NaN,NaN,NaN
3,51881babca2db8a8ef8c066f134216218deada0d,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:10:21+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,0,19,NaN,NaN,NaN
4,e85dda6f6303f60c3ff9a763e0de3ca91fe81009,calvin325,calvin325@gmail.com,2019-03-26 23:29:39+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN

In [2]:
df.insert ( 1, 'year_month', pd.to_datetime(df['commit_datetime'], utc=True).dt.to_period('M') )
df.head()

G:\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,f57407db93b2bbcf15b59af10e6f689ca8443372,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 15:31:43+08:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,2,0,NaN,NaN,NaN
1,80eb8ea2e4462e7c0f83b071545e9b01bcf0e63c,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 17:47:17+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,2,0,NaN,NaN,NaN
2,87de776ac2c22174cbb3a554e89a0ff2a1fadcc5,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:08:38+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,0,NaN,NaN,NaN
3,51881babca2db8a8ef8c066f134216218deada0d,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:10:21+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,0,19,NaN,NaN,NaN
4,e85dda6f6303f60c3ff9a763e0de3ca91fe81009,2019-03,calvin325,calvin325@gmail.com,2019-03-26 23:29:39+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN

In [3]:
from analysis_lib import generate_ordinal_encoding_map

enc_map = generate_ordinal_encoding_map ( df["commit_author_email"] )
df["commit_author_enc"] = df["commit_author_email"].replace(enc_map)
df.head()

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count,commit_author_enc
0,f57407db93b2bbcf15b59af10e6f689ca8443372,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 15:31:43+08:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,2,0,NaN,NaN,NaN,1
1,80eb8ea2e4462e7c0f83b071545e9b01bcf0e63c,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 17:47:17+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,2,0,NaN,NaN,NaN,1
2,87de776ac2c22174cbb3a554e89a0ff2a1fadcc5,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:08:38+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,0,NaN,NaN,NaN,1
3,51881babca2db8a8ef8c066f134216218deada0d,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:10:21+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,0,19,NaN,NaN,NaN,1
4,e85dda6f6303f60c3ff9a763e0de3ca91fe81009,2019-03,calvin325,calvin325@gmail.com,2019-03-26 23:29:39+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN,2

In [4]:
df[df['commit_author_enc'] == 0].shape[0] # checking if there are any zeroes in author code

0

In [5]:
from analysis_lib import covid_ym

pre_df = df [ df['year_month'] < covid_ym ]
post_df = df [ df['year_month'] >= covid_ym ]

In [6]:
pre_df = pre_df.groupby(['commit_author_enc']).agg({
    
    'commit_hash': 'nunique', 
    'file_lines_added': 'sum', 
    'file_lines_deleted': 'sum',
    'file_loc': 'sum',
    'file_complexity': 'sum',
    'file_token_count': 'sum'
} ).reset_index(level=[0])

pre_df.rename(columns = {
     
    'commit_author_enc':'author_code',
    'commit_hash': 'commit_count',
    'file_lines_added': 'additions',
    'file_lines_deleted': 'deletions',
    'file_loc': 'agg_loc',
    'file_complexity': 'agg_complexity',
    'file_token_count': 'agg_token_count'
}, inplace = True)

pre_df

,author_code,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count
0,1,147,497,533,0.0,0.0,0.0
1,2,1,1,1,0.0,0.0,0.0
2,3,1,1,1,0.0,0.0,0.0
3,4,1,11,11,0.0,0.0,0.0
4,5,2,15,6,0.0,0.0,0.0
...,...,...,...,...,...,...,...
702,703,3,2,1,0.0,0.0,0.0
703,704,2,1,0,0.0,0.0,0.0
704,705,1,8,8,0.0,0.0,0.0
705,706,1,1,0,0.0,0.0,0.0
706,707,1,1,0,0.0,0.0,0.0

In [7]:
post_df = post_df.groupby(['commit_author_enc']).agg({
    
    'commit_hash': 'nunique', 
    'file_lines_added': 'sum', 
    'file_lines_deleted': 'sum',
    'file_loc': 'sum',
    'file_complexity': 'sum',
    'file_token_count': 'sum'
} ).reset_index(level=[0])

post_df.rename(columns = {
     
    'commit_author_enc':'author_code',
    'commit_hash': 'commit_count',
    'file_lines_added': 'additions',
    'file_lines_deleted': 'deletions',
    'file_loc': 'agg_loc',
    'file_complexity': 'agg_complexity',
    'file_token_count': 'agg_token_count'
}, inplace = True)

post_df

,author_code,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count
0,1,2,31,15,0.0,0.0,0.0
1,533,2,2,2,0.0,0.0,0.0
2,708,3,2,1,0.0,0.0,0.0
3,709,1,2,0,0.0,0.0,0.0
4,710,2,2,1,0.0,0.0,0.0
5,711,1,1,0,0.0,0.0,0.0
6,712,1,1,0,0.0,0.0,0.0
7,713,1,2,0,0.0,0.0,0.0
8,714,10,139,117,0.0,0.0,0.0
9,715,1,1,1,0.0,0.0,0.0
10,716,2,3,1,0.0,0.0,0.0
11,717,1,0,1,0.0,0.0,0.0
12,718,1,1,1,0.0,0.0,0.0
13,719,1,1,0,0.0,0.0,0.0
14,720,1,1,0,0.0,0.0,0.0
15,721,1,1,1,0.0,0.0,0.0
16,722,1,1,0,0.0,0.0,0.0
17,723,1,1,1,0.0,0.0,0.0
18,724,7,9,4,0.0,0.0,0.0
19,725,1,1,0,0.0,0.0,0.0
20,726,1,1,0,0.0,0.0,0.0
21,727,3,2,1,0.0,0.0,0.0
22,728,2,0,1,0.0,0.0,0.0
23,729,1,1,0,0.0,0.0,0.0
24,730,1,1,0,0.0,0.0,0.0
25,731,1,1,0,0.0,0.0,0.0
26,732,5,5,2,0.0,0.0,0.0
27,733,2,1,0,0.0,0.0,0.0
28,734,1,2,0,0.0,0.0,0.0
29,735,7,7,5,0.0,0.0,0.0
30,736,1,5,5,0.0,0.0,0.0
31,737,1,2,2,0.0,0.0,0.0
32,738,2,102,0,0.0,0.0,0.0
33,739,1,7,7,0.0,0.0,0.0
34,740,3,19590,6,676.0,74.0,3789.0
35,741,20,32,33,0.0,0.0,0.0

In [8]:
from analysis_lib import calc_and_compare_means

calc_and_compare_means ( pre_df, post_df )

Pre and Post-Covid Mean Comparisons:
commit count :  2  vs  3  ->  Up (50.0%)
additions :  36  vs  554  ->  Up (1438.9%)
deletions :  35  vs  6  ->  Down (82.9%)
agg loc :  1  vs  19  ->  Up (1800.0%)
agg complexity :  0  vs  2  ->  Up from 0 to 2
agg token count :  8  vs  105  ->  Up (1212.5%)

In [9]:
from analysis_lib import get_equilibrium_pc

print("Pre-pandemic equilibrium percentages:")
for idx in range ( 1, 7 ):
    print ( f'{pre_df.columns[idx]} = { get_equilibrium_pc ( list ( pre_df[pre_df.columns[idx]] ) ) }' )
    
print("\nPost-pandemic equilibrium percentages:")
for idx in range ( 1, 7 ):
    print ( f'{post_df.columns[idx]} = { get_equilibrium_pc ( list ( post_df[post_df.columns[idx]] ) ) }' )

Pre-pandemic equilibrium percentages:
commit_count = 14.9
additions = 0.6
deletions = 0.1
agg_loc = 0.3
agg_complexity = 0.3
agg_token_count = 0.3

Post-pandemic equilibrium percentages:
commit_count = 13.9
additions = 2.8
deletions = 2.8
agg_loc = 2.8
agg_complexity = 2.8
agg_token_count = 2.8

In [10]:
from analysis_lib import get_pareto_pc

print("Pre-pandemic pareto percentages:")
for idx in range ( 1, 7 ):
    print ( f'{pre_df.columns[idx]} = { get_pareto_pc ( list ( pre_df[pre_df.columns[idx]] ) ) }' )
    
print("\nPost-pandemic pareto percentages:")
for idx in range ( 1, 7 ):
    print ( f'{post_df.columns[idx]} = { get_pareto_pc ( list ( post_df[post_df.columns[idx]] ) ) }' )

Pre-pandemic pareto percentages:
commit_count = 52.6
additions = 5.4
deletions = 0.4
agg_loc = 0.4
agg_complexity = 0.4
agg_token_count = 0.4

Post-pandemic pareto percentages:
commit_count = 50.0
additions = 2.8
deletions = 11.1
agg_loc = 2.8
agg_complexity = 2.8
agg_token_count = 2.8