In [6]:
import pandas as pd
import os

repo_name = os.path.basename(os.getcwd())
dataset_path = f'datasets/{repo_name}_modfiles.csv'
df = pd.read_csv (dataset_path)
df.head()

,commit_hash,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,98d4f1891c9868ba661740af7ffba5276552cf2e,Bob Lantz,openflow@debian.localdomain,2009-12-08 18:08:03-08:00,False,0.644796,0.737557,0.570136,cleanup,ModificationType.ADD,16,0,NaN,NaN,NaN
1,98d4f1891c9868ba661740af7ffba5276552cf2e,Bob Lantz,openflow@debian.localdomain,2009-12-08 18:08:03-08:00,False,0.644796,0.737557,0.570136,mininet.py,ModificationType.ADD,621,0,522.0,122.0,3155.0
2,98d4f1891c9868ba661740af7ffba5276552cf2e,Bob Lantz,openflow@debian.localdomain,2009-12-08 18:08:03-08:00,False,0.644796,0.737557,0.570136,netns.c,ModificationType.ADD,24,0,16.0,3.0,73.0
3,eddef947a467f7655c901e6230416d8685557e1d,Bob Lantz,openflow@debian.localdomain,2009-12-09 21:13:17-08:00,False,0.443038,0.759494,1.000000,cleanup,ModificationType.MODIFY,4,0,NaN,NaN,NaN
4,eddef947a467f7655c901e6230416d8685557e1d,Bob Lantz,openflow@debian.localdomain,2009-12-09 21:13:17-08:00,False,0.443038,0.759494,1.000000,mininet.py,ModificationType.MODIFY,430,318,613.0,157.0,3922.0

In [2]:
df.insert ( 1, 'year_month', pd.to_datetime(df['commit_datetime'], utc=True).dt.to_period('M') )
df

G:\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,98d4f1891c9868ba661740af7ffba5276552cf2e,2009-12,Bob Lantz,openflow@debian.localdomain,2009-12-08 18:08:03-08:00,False,0.644796,0.737557,0.570136,cleanup,ModificationType.ADD,16,0,NaN,NaN,NaN
1,98d4f1891c9868ba661740af7ffba5276552cf2e,2009-12,Bob Lantz,openflow@debian.localdomain,2009-12-08 18:08:03-08:00,False,0.644796,0.737557,0.570136,mininet.py,ModificationType.ADD,621,0,522.0,122.0,3155.0
2,98d4f1891c9868ba661740af7ffba5276552cf2e,2009-12,Bob Lantz,openflow@debian.localdomain,2009-12-08 18:08:03-08:00,False,0.644796,0.737557,0.570136,netns.c,ModificationType.ADD,24,0,16.0,3.0,73.0
3,eddef947a467f7655c901e6230416d8685557e1d,2009-12,Bob Lantz,openflow@debian.localdomain,2009-12-09 21:13:17-08:00,False,0.443038,0.759494,1.000000,cleanup,ModificationType.MODIFY,4,0,NaN,NaN,NaN
4,eddef947a467f7655c901e6230416d8685557e1d,2009-12,Bob Lantz,openflow@debian.localdomain,2009-12-09 21:13:17-08:00,False,0.443038,0.759494,1.000000,mininet.py,ModificationType.MODIFY,430,318,613.0,157.0,3922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3074,aa0176fce6fb718a03474f8719261b07b670d30d,2022-04,lantz,rlantz@cs.stanford.edu,2022-03-31 17:58:42-07:00,False,NaN,NaN,NaN,INSTALL,ModificationType.MODIFY,2,2,NaN,NaN,NaN
3075,aa0176fce6fb718a03474f8719261b07b670d30d,2022-04,lantz,rlantz@cs.stanford.edu,2022-03-31 17:58:42-07:00,False,NaN,NaN,NaN,LICENSE,ModificationType.MODIFY,1,1,NaN,NaN,NaN
3076,aa0176fce6fb718a03474f8719261b07b670d30d,2022-04,lantz,rlantz@cs.stanford.edu,2022-03-31 17:58:42-07:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,5,3,NaN,NaN,NaN
3077,aa0176fce6fb718a03474f8719261b07b670d30d,2022-04,lantz,rlantz@cs.stanford.edu,2022-03-31 17:58:42-07:00,False,NaN,NaN,NaN,net.py,ModificationType.MODIFY,1,1,773.0,195.0,4484.0
3078,3f5503d7737a0f07eafce03594cf9ed5112e5ae8,2022-07,lantz,rlantz@cs.stanford.edu,2022-07-10 19:45:38-07:00,False,NaN,NaN,NaN,LICENSE,ModificationType.MODIFY,23,27,NaN,NaN,NaN

In [3]:
grouped_df = df.groupby(['year_month']).agg({
    
    'commit_hash': 'nunique', 
    'file_lines_added': 'sum', 
    'file_lines_deleted': 'sum',
    'file_loc': 'sum',
    'file_complexity': 'sum',
    'file_token_count': 'sum',
    'dmm_unit_size': 'mean',
    'dmm_unit_complexity': 'mean',
    'dmm_unit_interfacing': 'mean'
} ).reset_index(level=[0])


grouped_df.rename(columns = {
    'commit_hash': 'commit_count',
    'file_lines_added': 'additions',
    'file_lines_deleted': 'deletions',
    'file_loc': 'agg_loc',
    'file_complexity': 'agg_complexity',
    'file_token_count': 'agg_token_count',
}, inplace = True)

grouped_df

,year_month,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing
0,2009-12,67,4950,2549,34382.0,8549.0,220329.0,0.607826,0.622492,0.611475
1,2010-01,33,1966,954,13781.0,3127.0,96179.0,0.474168,0.722588,0.609118
2,2010-02,34,2046,1749,10434.0,2244.0,62732.0,0.659774,0.537594,0.651629
3,2010-03,148,3124,1862,30397.0,6404.0,176282.0,0.494667,0.542906,0.640304
4,2010-04,61,2009,447,11846.0,2502.0,71821.0,0.479652,0.626278,0.510277
...,...,...,...,...,...,...,...,...,...,...
104,2021-11,1,1,1,0.0,0.0,0.0,NaN,NaN,NaN
105,2022-02,2,9,9,385.0,107.0,2022.0,NaN,NaN,NaN
106,2022-03,1,11,2,0.0,0.0,0.0,NaN,NaN,NaN
107,2022-04,2,12,8,773.0,195.0,4484.0,NaN,NaN,NaN
108,2022-07,1,23,27,0.0,0.0,0.0,NaN,NaN,NaN

In [4]:
grouped_df.to_csv ( f'datasets/{repo_name}_groupedby_yearmonth.csv', index = False )