In [1]:
import pandas as pd
import os
from get_repo_name import get_repo_name

repo_name = get_repo_name ( os.path.basename ( os.getcwd() ) )
dataset_path = f'datasets/{repo_name}_modfiles.csv'
df = pd.read_csv (dataset_path)
df.head()

,commit_hash,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,a879ec06ef9504db8df2a19aac0d07609fe36131,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,.babelrc,ModificationType.ADD,10,0,NaN,NaN,NaN
1,a879ec06ef9504db8df2a19aac0d07609fe36131,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,.gitignore,ModificationType.ADD,5,0,NaN,NaN,NaN
2,a879ec06ef9504db8df2a19aac0d07609fe36131,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,build.js,ModificationType.ADD,124,0,109.0,18.0,585.0
3,a879ec06ef9504db8df2a19aac0d07609fe36131,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,package.json,ModificationType.ADD,38,0,NaN,NaN,NaN
4,a879ec06ef9504db8df2a19aac0d07609fe36131,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,codegen.js,ModificationType.ADD,129,0,117.0,35.0,673.0

In [2]:
df.insert ( 1, 'year_month', pd.to_datetime(df['commit_datetime'], utc=True).dt.to_period('M') )
df

G:\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,a879ec06ef9504db8df2a19aac0d07609fe36131,2016-04,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,.babelrc,ModificationType.ADD,10,0,NaN,NaN,NaN
1,a879ec06ef9504db8df2a19aac0d07609fe36131,2016-04,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,.gitignore,ModificationType.ADD,5,0,NaN,NaN,NaN
2,a879ec06ef9504db8df2a19aac0d07609fe36131,2016-04,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,build.js,ModificationType.ADD,124,0,109.0,18.0,585.0
3,a879ec06ef9504db8df2a19aac0d07609fe36131,2016-04,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,package.json,ModificationType.ADD,38,0,NaN,NaN,NaN
4,a879ec06ef9504db8df2a19aac0d07609fe36131,2016-04,Evan You,yyx990803@gmail.com,2016-04-10 22:47:28-04:00,False,0.512821,0.561637,0.833826,codegen.js,ModificationType.ADD,129,0,117.0,35.0,673.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12565,1d8b892fcd9edcef1feeed74ad586beabb9f6df2,2022-07,Evan You,yyx990803@gmail.com,2022-07-22 11:24:39+08:00,False,NaN,NaN,NaN,CHANGELOG.md,ModificationType.MODIFY,17,0,NaN,NaN,NaN
12566,1d8b892fcd9edcef1feeed74ad586beabb9f6df2,2022-07,Evan You,yyx990803@gmail.com,2022-07-22 11:24:39+08:00,False,NaN,NaN,NaN,package.json,ModificationType.MODIFY,1,1,NaN,NaN,NaN
12567,1d8b892fcd9edcef1feeed74ad586beabb9f6df2,2022-07,Evan You,yyx990803@gmail.com,2022-07-22 11:24:39+08:00,False,NaN,NaN,NaN,package.json,ModificationType.MODIFY,1,1,NaN,NaN,NaN
12568,1d8b892fcd9edcef1feeed74ad586beabb9f6df2,2022-07,Evan You,yyx990803@gmail.com,2022-07-22 11:24:39+08:00,False,NaN,NaN,NaN,package.json,ModificationType.MODIFY,1,1,NaN,NaN,NaN
12569,1d8b892fcd9edcef1feeed74ad586beabb9f6df2,2022-07,Evan You,yyx990803@gmail.com,2022-07-22 11:24:39+08:00,False,NaN,NaN,NaN,package.json,ModificationType.MODIFY,1,1,NaN,NaN,NaN

In [3]:
grouped_df = df.groupby(['year_month']).agg({
    
    'commit_hash': 'nunique', 
    'file_lines_added': 'sum', 
    'file_lines_deleted': 'sum',
    'file_loc': 'sum',
    'file_complexity': 'sum',
    'file_token_count': 'sum',
    'dmm_unit_size': 'mean',
    'dmm_unit_complexity': 'mean',
    'dmm_unit_interfacing': 'mean'
} ).reset_index(level=[0])


grouped_df.rename(columns = {
    'commit_hash': 'commit_count',
    'file_lines_added': 'additions',
    'file_lines_deleted': 'deletions',
    'file_loc': 'agg_loc',
    'file_complexity': 'agg_complexity',
    'file_token_count': 'agg_token_count',
}, inplace = True)

grouped_df

,year_month,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing
0,2016-04,380,37122,8192,115204.0,34937.0,706296.0,0.598250,0.659186,0.677440
1,2016-05,192,12271,3826,62991.0,10566.0,343274.0,0.605187,0.663728,0.614487
2,2016-06,207,24235,18906,204456.0,67578.0,1526481.0,0.571804,0.678278,0.702376
3,2016-07,157,19362,15144,135788.0,45842.0,1021427.0,0.477950,0.509817,0.631036
4,2016-08,126,20474,15579,166532.0,60105.0,1284082.0,0.473997,0.583280,0.630723
...,...,...,...,...,...,...,...,...,...,...
69,2022-02,4,37,965,0.0,0.0,0.0,NaN,NaN,NaN
70,2022-04,6,44417,47679,82634.0,32599.0,694613.0,0.122351,0.054201,0.160173
71,2022-05,83,162463,262472,295860.0,63219.0,1867341.0,0.561628,0.730672,0.651047
72,2022-06,85,13542,2977,50684.0,7015.0,270980.0,0.573109,0.736625,0.841592
73,2022-07,63,3423,638,28730.0,4137.0,160785.0,0.638751,0.649282,0.737836

In [4]:
grouped_df.to_csv ( f'datasets/{repo_name}_groupedby_yearmonth.csv', index = False )