In [1]:
import pandas as pd
import os
from get_repo_name import get_repo_name
from glob import glob
from shutil import copy

results_path = './results/'
cat_datasets = 'top_repos_by_star_count_datasets'
dst = results_path + cat_datasets + '/'

if cat_datasets not in os.listdir(results_path):
    os.mkdir ( dst )

cat_path = './top_repos/top_repos_by_star_count/'

for repo in os.listdir(cat_path):

    repo_name = get_repo_name ( os.path.basename ( repo ) )
    datasets_path = '/datasets/'
    csv_file = f'{ repo_name }_modfiles.csv'
    if csv_file in os.listdir ( cat_path + repo + datasets_path ):
        src = cat_path + repo + datasets_path + csv_file
        copy ( src, dst )

In [6]:
glob_path = os.path.join ( dst, "*_modfiles.csv" )
master_dataset = glob ( glob_path )

df = pd.concat ( map ( pd.read_csv, master_dataset ), ignore_index = True )
df

,commit_hash,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,f57407db93b2bbcf15b59af10e6f689ca8443372,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 15:31:43+08:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,2,0,NaN,NaN,NaN
1,80eb8ea2e4462e7c0f83b071545e9b01bcf0e63c,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 17:47:17+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,2,0,NaN,NaN,NaN
2,87de776ac2c22174cbb3a554e89a0ff2a1fadcc5,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:08:38+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,0,NaN,NaN,NaN
3,51881babca2db8a8ef8c066f134216218deada0d,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:10:21+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,0,19,NaN,NaN,NaN
4,e85dda6f6303f60c3ff9a763e0de3ca91fe81009,calvin325,calvin325@gmail.com,2019-03-26 23:29:39+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385541,6668deaa8a6f45c31e5eaf308d92b858fdbf4261,Kyle Simpson,getify@gmail.com,2022-08-04 00:07:03-05:00,False,NaN,NaN,NaN,ch1.md,ModificationType.MODIFY,25,2,NaN,NaN,NaN
385542,6668deaa8a6f45c31e5eaf308d92b858fdbf4261,Kyle Simpson,getify@gmail.com,2022-08-04 00:07:03-05:00,False,NaN,NaN,NaN,ch2.md,ModificationType.MODIFY,39,16,NaN,NaN,NaN
385543,2cb92444a613004fd09a6696a6810f3986a01242,Kyle Simpson,getify@gmail.com,2022-08-05 12:13:18-05:00,False,NaN,NaN,NaN,ch1.md,ModificationType.MODIFY,5,75,NaN,NaN,NaN
385544,2cb92444a613004fd09a6696a6810f3986a01242,Kyle Simpson,getify@gmail.com,2022-08-05 12:13:18-05:00,False,NaN,NaN,NaN,ch2.md,ModificationType.MODIFY,192,5,NaN,NaN,NaN
385545,0a5ffd75f6d5593d55b467e2962daa95a5b8d946,Kyle Simpson,getify@gmail.com,2022-08-06 11:27:48-05:00,False,NaN,NaN,NaN,ch2.md,ModificationType.MODIFY,143,5,NaN,NaN,NaN

In [7]:
df.insert ( 1, 'year_month', pd.to_datetime(df['commit_datetime'], utc=True).dt.to_period('M') )
df.head()

G:\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,f57407db93b2bbcf15b59af10e6f689ca8443372,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 15:31:43+08:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,2,0,NaN,NaN,NaN
1,80eb8ea2e4462e7c0f83b071545e9b01bcf0e63c,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 17:47:17+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,2,0,NaN,NaN,NaN
2,87de776ac2c22174cbb3a554e89a0ff2a1fadcc5,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:08:38+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,0,NaN,NaN,NaN
3,51881babca2db8a8ef8c066f134216218deada0d,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:10:21+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,0,19,NaN,NaN,NaN
4,e85dda6f6303f60c3ff9a763e0de3ca91fe81009,2019-03,calvin325,calvin325@gmail.com,2019-03-26 23:29:39+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN

In [9]:
# df.year_month.min(), df.year_month.max()

df.drop ( df[df.year_month < '2019-03'].index, inplace = True )
df.drop ( df[df.year_month > '2022-01'].index, inplace = True )
df.reset_index ( drop = True, inplace = True )
df

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,f57407db93b2bbcf15b59af10e6f689ca8443372,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 15:31:43+08:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,2,0,NaN,NaN,NaN
1,80eb8ea2e4462e7c0f83b071545e9b01bcf0e63c,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 17:47:17+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,2,0,NaN,NaN,NaN
2,87de776ac2c22174cbb3a554e89a0ff2a1fadcc5,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:08:38+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,0,NaN,NaN,NaN
3,51881babca2db8a8ef8c066f134216218deada0d,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:10:21+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,0,19,NaN,NaN,NaN
4,e85dda6f6303f60c3ff9a763e0de3ca91fe81009,2019-03,calvin325,calvin325@gmail.com,2019-03-26 23:29:39+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171555,5c9d08867653965f5be96770ddae18cfb376b71f,2022-01,Kyle Simpson,getify@gmail.com,2022-01-26 11:20:12-06:00,False,NaN,NaN,NaN,toc.md,ModificationType.MODIFY,5,2,NaN,NaN,NaN
171556,e1c033df32725340bbb57e0eddf214924c4501cf,2022-01,Kyle Simpson,getify@gmail.com,2022-01-26 12:53:48-06:00,False,NaN,NaN,NaN,ch2.md,ModificationType.MODIFY,200,15,NaN,NaN,NaN
171557,e1c033df32725340bbb57e0eddf214924c4501cf,2022-01,Kyle Simpson,getify@gmail.com,2022-01-26 12:53:48-06:00,False,NaN,NaN,NaN,toc.md,ModificationType.MODIFY,3,1,NaN,NaN,NaN
171558,f44ffc57f9af404d52212b8280a9cee13e95d574,2022-01,Kyle Simpson,getify@gmail.com,2022-01-26 12:56:33-06:00,False,NaN,NaN,NaN,ch2.md,ModificationType.MODIFY,200,15,NaN,NaN,NaN
171559,f44ffc57f9af404d52212b8280a9cee13e95d574,2022-01,Kyle Simpson,getify@gmail.com,2022-01-26 12:56:33-06:00,False,NaN,NaN,NaN,toc.md,ModificationType.MODIFY,3,1,NaN,NaN,NaN

In [11]:
from analysis_lib import generate_ordinal_encoding_map

enc_map = generate_ordinal_encoding_map ( df["commit_author_email"] )
df["commit_author_enc"] = df["commit_author_email"].replace(enc_map)
df.head()

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count,commit_author_enc
0,f57407db93b2bbcf15b59af10e6f689ca8443372,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 15:31:43+08:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,2,0,NaN,NaN,NaN,1
1,80eb8ea2e4462e7c0f83b071545e9b01bcf0e63c,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 17:47:17+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,2,0,NaN,NaN,NaN,1
2,87de776ac2c22174cbb3a554e89a0ff2a1fadcc5,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:08:38+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,0,NaN,NaN,NaN,1
3,51881babca2db8a8ef8c066f134216218deada0d,2019-03,996icu,48942249+996icu@users.noreply.github.com,2019-03-26 18:10:21+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,0,19,NaN,NaN,NaN,1
4,e85dda6f6303f60c3ff9a763e0de3ca91fe81009,2019-03,calvin325,calvin325@gmail.com,2019-03-26 23:29:39+08:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN,2

In [16]:
df[df['commit_author_enc'] == 0].shape[0] # checking if there are any zeroes in author code

0

In [17]:
grouped_df = df.groupby(['commit_author_enc']).agg({
    
    'commit_hash': 'nunique', 
    'file_lines_added': 'sum', 
    'file_lines_deleted': 'sum',
    'file_loc': 'sum',
    'file_complexity': 'sum',
    'file_token_count': 'sum'
} ).reset_index(level=[0])

grouped_df.rename(columns = {
     
    'commit_author_enc':'author_code',
    'commit_hash': 'commit_count',
    'file_lines_added': 'additions',
    'file_lines_deleted': 'deletions',
    'file_loc': 'agg_loc',
    'file_complexity': 'agg_complexity',
    'file_token_count': 'agg_token_count'
}, inplace = True)

grouped_df

,author_code,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count
0,1,149,528,548,0.0,0.0,0.0
1,2,1,1,1,0.0,0.0,0.0
2,3,1,1,1,0.0,0.0,0.0
3,4,1,11,11,0.0,0.0,0.0
4,5,2,15,6,0.0,0.0,0.0
...,...,...,...,...,...,...,...
6156,6157,1,1,1,0.0,0.0,0.0
6157,6158,1,1,1,0.0,0.0,0.0
6158,6159,1,1,1,0.0,0.0,0.0
6159,6160,1,3,3,0.0,0.0,0.0
6160,6161,1,1,1,0.0,0.0,0.0