In [1]:
import pandas as pd
import os
from get_repo_name import get_repo_name

repo_name = get_repo_name ( os.path.basename ( os.getcwd() ) )
dataset_path = f'datasets/{repo_name}_final.csv'
df = pd.read_csv (dataset_path)
df

,year_month,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing
0,2009-08,49,488,85,0.0,0.0,0.0,0.0,0.0,0.0
1,2009-09,40,331,102,0.0,0.0,0.0,0.0,0.0,0.0
2,2009-10,27,171,45,0.0,0.0,0.0,0.0,0.0,0.0
3,2009-11,29,212,151,0.0,0.0,0.0,0.0,0.0,0.0
4,2009-12,12,74,35,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
152,2022-04,18,183,191,152.0,35.0,1365.0,1.0,1.0,1.0
153,2022-05,6,44,41,0.0,0.0,0.0,0.0,0.0,0.0
154,2022-06,9,46,85,0.0,0.0,0.0,0.0,0.0,0.0
155,2022-07,12,77,70,0.0,0.0,0.0,0.0,0.0,0.0
156,2022-08,3,83,51,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
# df['year_month'] = pd.to_datetime(df['year_month'])
df = df.set_index(df['year_month'])
df

,year_month,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing
year_month,,,,,,,,,,
2009-08,2009-08,49,488,85,0.0,0.0,0.0,0.0,0.0,0.0
2009-09,2009-09,40,331,102,0.0,0.0,0.0,0.0,0.0,0.0
2009-10,2009-10,27,171,45,0.0,0.0,0.0,0.0,0.0,0.0
2009-11,2009-11,29,212,151,0.0,0.0,0.0,0.0,0.0,0.0
2009-12,2009-12,12,74,35,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2022-04,2022-04,18,183,191,152.0,35.0,1365.0,1.0,1.0,1.0
2022-05,2022-05,6,44,41,0.0,0.0,0.0,0.0,0.0,0.0
2022-06,2022-06,9,46,85,0.0,0.0,0.0,0.0,0.0,0.0
2022-07,2022-07,12,77,70,0.0,0.0,0.0,0.0,0.0,0.0
2022-08,2022-08,3,83,51,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
pre_covid_ym = '2020-02'
covid_ym = '2020-03'
df1 = df [ str(df.year_month[0]) : pre_covid_ym ]
df2 = df [ covid_ym: str(df.year_month[-1]) ]
df1 = df1.reset_index ( drop = True )
df2 = df2.reset_index ( drop = True )

df1.shape, df2.shape

((127, 10), (30, 10))

In [4]:
from top_contributors import get_equilibrium_pc, get_pareto_pc

print("Pre-pandemic equilibrium percentages:")
for idx in range ( 1, len(df1.columns) ):
    print ( f'{df1.columns[idx]} = { get_equilibrium_pc ( list ( df1[df1.columns[idx]] ) ) }' )

Pre-pandemic equilibrium percentages:
commit_count = 26
additions = 16
deletions = 13
agg_loc = 3
agg_complexity = 4
agg_token_count = 2
dmm_unit_size = 2
dmm_unit_complexity = 2
dmm_unit_interfacing = 2

In [5]:
print("Post-pandemic equilibrium percentages:")
for idx in range ( 1, len(df2.columns) ):
    print ( f'{df2.columns[idx]} = { get_equilibrium_pc ( list ( df2[df2.columns[idx]] ) ) }' )

Post-pandemic equilibrium percentages:
commit_count = 29
additions = 6
deletions = 13
agg_loc = 10
agg_complexity = 10
agg_token_count = 10
dmm_unit_size = 13
dmm_unit_complexity = 13
dmm_unit_interfacing = 13

In [6]:
print("Pre-pandemic Pareto percentages:")
for idx in range ( 1, len(df1.columns) ):
    print ( f'{df1.columns[idx]} = { get_pareto_pc ( list ( df1[df1.columns[idx]] ) ) }' )

Pre-pandemic Pareto percentages:
commit_count = 52
additions = 38
deletions = 34
agg_loc = 6
agg_complexity = 6
agg_token_count = 6
dmm_unit_size = 2
dmm_unit_complexity = 2
dmm_unit_interfacing = 2

In [7]:
print("Post-pandemic Pareto percentages:")
for idx in range ( 1, len(df2.columns) ):
    print ( f'{df2.columns[idx]} = { get_pareto_pc ( list ( df2[df2.columns[idx]] ) ) }' )

Post-pandemic Pareto percentages:
commit_count = 55
additions = 23
deletions = 32
agg_loc = 19
agg_complexity = 19
agg_token_count = 19
dmm_unit_size = 19
dmm_unit_complexity = 19
dmm_unit_interfacing = 19